@media screen and (max-width: 1200px){
	.hwWrkBlc.BlcRow-3{
		width: 28%;    
		padding: 30px 14px;
        font-size: 13px;
		}
	.hwWrkBlc.BlcRow-2{
		padding: 30px 14px;
        font-size: 13px;
		}
	.hwWrkBlc.BlcRow-1{
		padding: 30px 14px;
        font-size: 13px;
		}
	}
@media screen and (max-width: 1000px){
	h1.page-heading{
		font-size: 24px;
		}
	.phtBlcUpt .blcTpImg .blcTpHd{
		font-size: 18px;
		}
	.gnrBlcs > div{
		width: 25%;
		}
	.hwWrkBlc.BlcRow-3{
		width: 27%;    
		padding: 30px 14px;
        font-size: 11px;
		}
	.hwWrkBlc.BlcRow-2{
		padding: 30px 14px;
        font-size: 11px;
		}
	.hwWrkBlc.BlcRow-1{
		padding: 30px 14px;
        font-size: 11px;
		}
	.rhds{
		font-size: 14px;
		}
	.owl-carousel,.banner,.owl-item .item{
		height: 450px;
		}
	.tagLine h1{
		font-size: 32px;
		}
	.tagLine h2{
		font-size: 16px;
		}
	.banner .bnrStc p{
		font-size: 11px;
		margin: 9px 0;
		}
	.banner .bnrStc{
		padding: 18px;
        width: 435px;
		}
	.secCpt.secRCrtn{
		top: 27%;
        width: 65%;
		}
	.sectnRimg{
		height: 365px;
		}
	.sectnLimg img, .sectnRimg img {
			min-width: 100%;
			width: auto;
			height: 100%;
		}
	.bioForm{
		padding: 0;
		}
	}
@media screen and (max-width: 800px){
	footer .main-foot{
		float: none;
		width: 100%;
		text-align: center;
		margin: 10px 0;
		}
	footer .main-foot:last-child{
		text-align: center;
		padding-top: 0;
		}
	footer .main-foot a{
		text-indent: 0px;
		}
	.odd-row > div:nth-of-type(even){
		width: 50%;
		height: 200px;
		border-right: 0px;
		}
	.odd-row > div:nth-of-type(odd){
		width: 50%;
		height: 200px;
		}
	.even-row > div{
		width: 33.33% !important;
		height: 200px;
		}
	.picInfo{
		padding-top: 50px;
		}
		
	.shImgs .slIm{
		height: 135px;
		}
	.shImgs .shImg-blc p{
		font-size: 13px;
		}
	.contentsBtton .cntBt{
		padding: 8px 12px;
		font-size: 11px;
		}
	.phtBlcUpt .blcTpImg .blcTpHd {
	    font-size: 15px;
		margin-bottom: 10px;
		}
	.phtBlcUpt .blcTpImg .blcTpPera{
		font-size: 13px;
		}
	.phtUpdt {
        height: 200px;
	    }
	.cotst-img img{
		width: 100%;
		max-width: 600px;
		}
	.galleryWrap > div{
		width: 33.33%;
		height: 200px;
		}
	
	.gnrBlcs > div{
		width: 33.33%;
		}
	.PhtCntsTxt h6{
		font-size: 20px;
		line-height: 21px;
		}
	.PhtCntsTxt{
		top: 71px;
		left: 50px;
        right: 50px;
		}
	.photoDtSh ul.phtDtlist{
		min-height: inherit;
		}
	
	.photoDtSh .heading {
		font-size: 17px;
		margin: 7px 0;
		}
	.photoDtSh ul.phtDtlist li{
		font-size: 13px;
		}
	.prfl > div.prflCnts{
		width: 100%;
		}
	.prfl > .prflPic{
		width: 100%;
		}
	.secCpt .sctnHds span{
		font-size: 21px;
        margin-top: 6px;
		}
	.secCpt .sctnHds{
		font-size: 29px;
    	margin-bottom: 8px;
		}
	.secCpt.secRCrtn,.secCpt.secLCrtn{
		font-size: 12px;
		}
	.checkLft, .checkRht{
		width: 100%;
		text-align: left !important;
		}
	}
@media screen and (max-width: 600px){
	.odd-row > div:nth-of-type(even){
		width: 50%;
		height: 150px;
		border: 5px solid #ffffff !important;
		}
	.odd-row > div:nth-of-type(odd){
		width: 50%;
		height: 150px;
		border: 5px solid #ffffff !important;
		}
	.even-row > div{
		width: 50% !important;
		height: 150px;
		border: 5px solid #ffffff !important;
		}
	.picInfo{
		padding-top: 10px;
		}
	h3.contst-heading{
		font-size: 14px;
		}
	p.contst-pera{
		font-size: 12px;
		}
	.contentsBtton .cntBt{
		min-width: inherit;
		font-size: 9px;
		padding: 7px 3px;
		margin: 2px 0;
		}
	.shImgs .shImg-blc{
		width: 100%;
		margin-bottom: 15px;
		}
	.phtUpdt .phtBlcUpt{
		width: 100%;
		}
	.phtUpdt{
		height: auto;
		}
	.contst-detls .inputBox{
		width: 100%;
		border: 2px dashed #4d4b4b !important;
		border-radius: 10px !important;
		}
	.contst-detls input[type=submit]{
		height: auto;
		border-radius: 10px !important;
		width: 100%;
		margin: 10px 0;
		height: 30px;
		}
	.contst-detls input[type=text]{
		width: 100%;
		}
	.pollOptn .optRadio{
		margin: 3px;
		}
	
	.galleryWrap > div{
		width: 50%;
		height: 150px;
		}
	.gnrBlcs > div{
		width: 50%;
		height: 160px;
		}
	p.GnrPera{
		font-size: 12px;
		}
	.hwWrkBlc.BlcRow-gp-3,.hwWrkBlc.BlcRow-gp-2{
		display: none;
		}
	.hwWrkBlc.BlcRow-3,.hwWrkBlc.BlcRow-2,.hwWrkBlc.BlcRow-1{
		width: 100%;
		min-height: inherit;
		padding-top: 10px;
		}
	.hrLineafts:after{
		display: none;
		}
	.AccPic {
		width: 130px;
		height: 130px;
		}
	.AccName {
       font-size: 16px;
	}
	p.AccPera{
		font-size: 12px;
		}
	.sectnBtn button{
		margin: 3px;
		}
	.sectnTbls{
		font-size: 12px;
		}
	.photoPg > div.photoDtSh{
		width: 100%;
		padding: 10px 0;
		}
	.photoPg > div.photoShow{
		width: 100%;
		max-height: 180px;
		overflow:hidden;
		}
	.PhotoWotoPriceTbl .priceRow .priceRowCol.bgTxt {
        font-size: 13px;
	}
	.PhotoWotoPriceTbl .priceRow .priceRowCol.smDarkTxt{
		font-size: 11px;
		}
	.tblTag{
		font-size: 15px;
		}
	.PhotoWotoPriceTbl .priceRow .priceRowCol{
		padding: 10px;
		}
	.PhotoWotoPriceTbl .priceRow button{
		padding: 4px 1px;
		font-size: 10px;
		border-radius: 4px;
		min-width: 56px;
		}
	.btTxsm{
		padding: 8px 5px;
		}
	p.heading {
        font-size: 16px;
	}
	.phtAuthr > div{
		width: 33.33%;
		}
	.tablePrice .tblRow .tblCol{
		font-size: 11px;
		}
	.prflImgsUsr > div{
		width: 50%;
		}
	.owl-carousel,.banner,.owl-item .item{
		height: 350px;
		}
	.secCpt.secRCrtn,.secCpt.secLCrtn{
        width: 100%;
		color: #ffffff;
        text-shadow: 0 1px 2px #444444;
		}
	.secCpt.secRCrtn .btnDrk{
		margin: 4px;
		}
	.lndSecGnr{
		padding: 15px;
		}
	.lndSecGnr h2 {
		font-size: 28px;
		padding: 13px;
		}
	.lndSecGnr h2 {
		font-size: 22px;
		}
	.lndSecGnr h2 span{
		font-size: 20px;
		}
	.gtMail input[type=text]{
		width: 70%;
		}
	.gtMail input[type=submit]{
		width: 30%;
		}
	.tagLine h1 {
		font-size: 24px;
		}
	.tagLine h2 {
		font-size: 14px;
		}
	.banner .bnrStc {
		padding: 16px;
		width: 290px;
		}
	.banner .bnrStc p{
		padding: 10px;
	}
	.prcTStr .strDiv {
		margin: 20px auto;
		float: none;
	}
	.prcTStr{
		width: 100%;
		}
	.prcTStr .strDiv.mdm {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
	.usrCond > div{
		width: 100%;
		text-align: left !important;
		}
	.usrCond > div.lftCnd:after{
		display: none;
		}
	.bioForm > div.bioFormCol_1,.bioForm > div.bioFormCol_2{
		width: 100%;
		padding: 10px 0;
		}
	.bioForm > div.bioFormCol_2 .formRow3,.bioForm > div.bioFormCol_2 .formRow2 {
		width: 80%;
	    }
	.bioForm > div.bioFormCol_2 .formRow1 {
        width: 20%;
	    }
	.fieldRow .colFld-2{
		width: 100%;
		}
	.fieldRow .colFld-1{
		width: 100%;
		}
	.fieldRow .colLabl {
		width: 100%;
		}
	.fieldRow > div{
		padding: 0 !important;
		padding-top: 5px !important;
		height: auto;
		font-size: 12px;
		}
	.popForm .popUpTop{
		font-size: 16px;
		}
	.popForm .popUpTop p{
		font-size: 13px;
		}
	.popForm{
		padding: 20px;
		top: 10px;
		bottom: 10px;
		width: auto;
		height: auto;
		max-height: none;
		}
	.popFields{
		padding-bottom: 50px;
		}
}
